<a href="https://colab.research.google.com/github/markmorcos/ironhack-mini-project-shark-attacks/blob/main/Shark_Attack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

df = pd.read_excel('https://www.sharkattackfile.net/spreadsheets/GSAF5.xls')

In [17]:
print(df.head(), end="\n\n")
print(df.info(), end="\n\n")
print(df.describe(include="all"), end="\n\n")
print(df.nunique(), end="\n\n")

print(df["Unnamed: 21"])

sharks_df=df

                  Date    Year        Type   Country             State  \
0  2024-10-14 00:00:00  2024.0  Unprovoked  Honduras              Tela
1  2024-10-11 00:00:00  2024.0  Unprovoked       USA           Florida
2  2024-09-17 00:00:00  2024.0  Unprovoked  Honduras    Trujillo Colon
3  2024-09-16 00:00:00  2024.0  Unprovoked   Morocco  Southern Morocco
4  2024-08-26 00:00:00  2024.0  Unprovoked   Jamaica       Montego Bay

                 Location                     Activity  \
0               Atlantida                     Swimming
1  Brevard County Orlando                      Surfing
2         Puerto Castillo         Diving for shellfish
3          West of Dakhla  Swimming - jumped off yacht
4                Falmouth                 Spearfishing

                       Name Sex Age  ...                  Species   \
0  Roberto Carlose Bu Mejia   M  38  ...                Bull shark
1            Teddy Witteman   M  16  ...            Bull shark 6ft
2   Fernando Mendoza Ocampo   M  33  ...          Bull shark 6-7ft
3            German Tourist   F  30  ...  Reportedly a Great White
4              Jahmari Reid   M  16  ...    Reportedly Tiger Shark

                                             Source  pdf href formula href  \
0   Georgienne Bradley: Daily Mail UK: FTN News.com  NaN          NaN  NaN
1                  Todd SmithFlorida today: News 4:  NaN          NaN  NaN
2       Daily Mail UK: The Sun UK:  The World Watch  NaN          NaN  NaN
3        Andy Currie: Moroccan World News: Sky News  NaN          NaN  NaN
4  Todd Smith: Daily Mail UK: Sky News: People .com  NaN          NaN  NaN

  Case Number Case Number.1 original order Unnamed: 21 Unnamed: 22
0         NaN           NaN            NaN         NaN         NaN
1         NaN           NaN            NaN         NaN         NaN
2         NaN           NaN            NaN         NaN         NaN
3         NaN           NaN            NaN         NaN         NaN
4         NaN           NaN            NaN         NaN         NaN

[5 rows x 23 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6973 entries, 0 to 6972
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6973 non-null   object
 1   Year            6971 non-null   float64
 2   Type            6955 non-null   object
 3   Country         6923 non-null   object
 4   State           6491 non-null   object
 5   Location        6408 non-null   object
 6   Activity        6387 non-null   object
 7   Name            6753 non-null   object
 8   Sex             6394 non-null   object
 9   Age             3978 non-null   object
 10  Injury          6938 non-null   object
 11  Unnamed: 11     6411 non-null   object
 12  Time            3447 non-null   object
 13  Species         3841 non-null   object
 14  Source          6954 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB
None

          Date         Year        Type Country    State  \
count   6973.0  6971.000000        6955    6923     6491
unique  6024.0          NaN          12     235      916
top     1957.0          NaN  Unprovoked     USA  Florida
freq       9.0          NaN        5135    2551     1183
mean       NaN  1934.776359         NaN     NaN      NaN
std        NaN   272.413746         NaN     NaN      NaN
min        NaN     0.000000         NaN     NaN      NaN
25%        NaN  1947.000000         NaN     NaN      NaN
50%        NaN  1985.000000         NaN     NaN      NaN
75%        NaN  2009.000000         NaN     NaN      NaN
max        NaN  2026.000000         NaN     NaN      NaN

                                Location Activity  Name   Sex     Age  ...  \
count                               6408     6387  6753  6394  3978.0  ...
unique                              4537     1597  5711     8   245.0  ...
top     New Smyrna Beach, Volusia County  Surfing  male     M    16.0  ...
freq                                 191     1125   680  5599    92.0  ...
mean                                 NaN      NaN   NaN   NaN     NaN  ...
std                                  NaN      NaN   NaN   NaN     NaN  ...
min                                  NaN      NaN   NaN   NaN     NaN  ...
25%                                  NaN      NaN   NaN   NaN     NaN  ...
50%                                  NaN      NaN   NaN   NaN     NaN  ...
75%                                  NaN      NaN   NaN   NaN     NaN  ...
max                                  NaN      NaN   NaN   NaN     NaN  ...

           Species                            Source  \
count          3841                             6954
unique         1695                             5329
top     White shark  K. McMurray, TrackingSharks.com
freq            194                              131
mean            NaN                              NaN
std             NaN                              NaN
min             NaN                              NaN
25%             NaN                              NaN
50%             NaN                              NaN
75%             NaN                              NaN
max             NaN                              NaN

                              pdf  \
count                        6799
unique                       6789
top     1907.10.16.R-HongKong.pdf
freq                            2
mean                          NaN
std                           NaN
min                           NaN
25%                           NaN
50%                           NaN
75%                           NaN
max                           NaN

                                             href formula  \
count                                                6794
unique                                               6784
top     http://sharkattackfile.net/spreadsheets/pdf_di...
freq                                                    2
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                                                     href Case Number  \
count                                                6796        6798
unique                                               6776        6777
top     http://sharkattackfile.net/spreadsheets/pdf_di...  2021.07.23
freq                                                    4           2
mean                                                  NaN         NaN
std                                                   NaN         NaN
min                                                   NaN         NaN
25%                                                   NaN         NaN
50%                                                   NaN         NaN
75%                                                   NaN         NaN
max                                                   NaN         NaN

       Case Number.1 original order   Unnamed: 21 Unnamed: 22
count           6797    6799.000000             1           2
unique          6775            NaN             1           2
top     2012.09.02.b            NaN  stopped here      Teramo
freq               2            NaN             1           1
mean             NaN    3401.152081           NaN         NaN
std              NaN    1963.076319           NaN         NaN
min              NaN       2.000000           NaN         NaN
25%              NaN    1701.500000           NaN         NaN
50%              NaN    3401.000000           NaN         NaN
75%              NaN    5100.500000           NaN         NaN
max              NaN    6802.000000           NaN         NaN

[11 rows x 23 columns]

Date              6024
Year               261
Type                12
Country            235
State              916
Location          4537
Activity          1597
Name              5711
Sex                  8
Age                245
Injury            4103
Unnamed: 11         12
Time               423
Species           1695
Source            5329
pdf               6789
href formula      6784
href              6776
Case Number       6777
Case Number.1     6775
original order    6797
Unnamed: 21          1
Unnamed: 22          2
dtype: int64

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
6968    NaN
6969    NaN
6970    NaN
6971    NaN
6972    NaN
Name: Unnamed: 21, Length: 6973, dtype: object

In [29]:
sharks_df['Country'] = sharks_df['Country'].str.split(' / ')

#Explode the Country lists into separate rows
sharks_df = sharks_df.explode('Country')
sharks_df["Country"].unique()
#sharks_df["Country"].nunique()

#replace bad entries with a single country but too repetitive doesn't show true data cleaning
sharks_df['Country'] = sharks_df['Country'].replace({'CEYLON (SRI LANKA)': 'Sri Lanka'})
sharks_df['Country'] = sharks_df['Country'].replace({'ST HELENA, British overseas territory': 'Saint Helena'})



sharks_df["Country"] = sharks_df["Country"].str.lower()
sharks_df = sharks_df.dropna(subset=['Country'])

#sharks_df["Country"] = sharks_df["Country"].replace({"?": ""})
#Call method strip to strip off question marks at the end
sharks_df['Country'] = sharks_df['Country'].str.strip('?')

#call is in method to remove oceans+seas+continents

# Wordslist to remove
words_to_remove = ['Asia', 'Africa' , 'ocean' , 'sea']
mask = ~sharks_df['Country'].isin(words_to_remove)
#df_cleaned = df[mask]

# Display cleaned DataFrame
#print("\nCleaned DataFrame:")
#print(df_cleaned)

sharks_df["Country"].unique()

array(['honduras', 'usa', 'morocco', 'jamaica', 'belize', 'australia',
       'maldive islands', 'turks and caicos', 'french polynesia',
       'tobago', 'bahamas', 'india', 'trinidad', 'south africa', 'mexico',
       'new zealand', 'egypt', 'philippines', 'coral sea', 'spain',
       'portugal', 'samoa', 'colombia', 'ecuador', 'new caledonia',
       'cuba', 'brazil', 'seychelles', 'argentina', 'fiji', 'maldives',
       'england', 'japan', 'indonesia', 'thailand', 'columbia',
       'costa rica', 'british overseas territory', 'canada', 'jordan',
       'st kitts', 'nevis', 'st martin', 'papua new guinea',
       'reunion island', 'israel', 'china', 'ireland', 'italy',
       'malaysia', 'libya', 'mauritius', 'solomon islands',
       'saint helena', 'comoros', 'reunion', 'united kingdom',
       'united arab emirates', 'cape verde', 'dominican republic',
       'cayman islands', 'aruba', 'mozambique', 'puerto rico',
       'atlantic ocean', 'greece', 'st. martin', 'france',
       'trinidad & tobago', 'kiribati', 'diego garcia', 'taiwan',
       'palestinian territories', 'guam', 'nigeria', 'tonga', 'scotland',
       'croatia', 'saudi arabia', 'chile', 'antigua', 'kenya', 'russia',
       'turks & caicos', 'united arab emirates (uae)', 'azores',
       'south korea', 'malta', 'vietnam', 'madagascar', 'panama',
       'somalia', 'british virgin islands', 'norway', 'senegal', 'yemen',
       'gulf of aden', 'sierra leone', 'st. maartin', 'grand cayman',
       'liberia', 'vanuatu', 'mexico ', 'venezuela', 'sri lanka',
       ' tonga', 'uruguay', 'micronesia', 'caribbean sea', 'okinawa',
       'tanzania', 'marshall islands', 'northern arabian sea',
       'hong kong', 'el salvador', 'angola', 'bermuda', 'montenegro',
       'iran', 'tunisia', 'namibia', 'north atlantic ocean',
       'south china sea', 'bangladesh', 'palau', 'western samoa',
       'pacific ocean ', 'british isles', 'grenada', 'iraq', 'turkey',
       'singapore', 'new britain', 'sudan', 'johnston island',
       'south pacific ocean', 'new guinea', 'red sea',
       'north pacific ocean', 'federated states of micronesia',
       'mid atlantic ocean', 'admiralty islands', 'british west indies',
       'south atlantic ocean', 'persian gulf', 'indian ocean',
       'pacific ocean', 'north sea', 'nicaragua ', 'american samoa',
       'andaman', 'nicobar islandas', 'gabon', 'mayotte',
       'north atlantic ocean ', 'the balkans', 'martinique', 'guatemala',
       'netherlands antilles', 'northern mariana islands', 'java',
       ' philippines', 'nicaragua', 'central pacific',
       'southwest pacific ocean', 'bay of bengal', 'mid-pacifc ocean',
       'slovenia', 'curacao', 'iceland', 'barbados', 'monaco', 'guyana',
       'haiti', 'san domingo', 'kuwait', 'yemen ', 'falkland islands',
       'crete', 'cyprus', 'egypt ', 'west indies', 'burma', 'lebanon',
       'paraguay', 'british new guinea', 'ceylon', 'ocean', 'georgia',
       'syria', 'tuvalu', 'guinea', 'andaman islands',
       'equatorial guinea', 'cameroon', 'cook islands', 'peru', 'africa',
       'algeria', 'coast of africa', 'tasman sea', 'ghana', 'greenland',
       'mediterranean sea', 'sweden', 'roatan',
       'between portugal & india', 'djibouti', 'bahrein', 'korea', 'asia'],
      dtype=object)

In [ ]:
#this is a test

In [ ]:
# this is another test

In [ ]:
#find percentage for null//0 values
df.isna().sum()
print(df.isna().mean() * 100)

Date               0.000000
Year               0.028682
Type               0.258139
Country            0.717051
State              6.912376
Location           8.102682
Activity           8.403843
Name               3.155027
Sex                8.303456
Age               42.951384
Injury             0.501936
Unnamed: 11        8.059659
Time              50.566471
Species           44.916105
Source             0.272480
pdf                2.495339
href formula       2.567044
href               2.538362
Case Number        2.509680
Case Number.1      2.524021
original order     2.495339
Unnamed: 21       99.985659
Unnamed: 22       99.971318
dtype: float64

In [10]:
#df['Country'] = df['Country'].str.strip().str.title()
#df['Country'] = df['Country'].str.split('/').str[0]
#df['Country'].unique()

TypeError: unhashable type: 'list'

NameError: name 'sharks_df' is not defined